ub-tab-search{
    *{
        padding: 0;
        margin: 0;
    }


    
ion-navbar .toolbar-background{
    background-color: white !important;
}

ion-navbar {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
} 

ion-searchbar{
    padding: 0 !important;    
    position: fixed;
    z-index: 999;
    top: 57px;

}
ion-list{
    margin: 41px 0 16px !important;
    color: #444;
    font-family: 'Montserrat', sans-serif;
}
ion-item .item-inner{
    border-bottom: 0px !important;
    font-size: 15px;

}
ion-list ion-item ion-icon{
    color: #444;
    margin-right: 16px;
}
::-webkit-input-placeholder{
    font-size: 15px;

}
.searchbar-input{
background-color: rgb(236, 226, 226) !important;
font-family: 'Montserrat', sans-serif;
color: white;
}

ion-content ion-label.top-Categories,ion-content ion-label.more-Categories{
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}


ion-content virtual-scroll.virtual-scroll{
    overflow-y: hidden !important;
}
ion-content virtual-scroll ion-item.items{
    width: 180px;
    height: 112px;
    display: inline-block;
}

ion-content virtual-scroll ion-item img{
    height: 101px;
    width: 147px;
}

























}