ub-tab-orderstab{

*{
    padding: 0;
    margin: 0;

}

ion-navbar .toolbar-background{
    background-color: white !important;
}

ion-navbar {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
} 


}